.header {
  position: sticky;
  top: 0;
  z-index: 5;
  flex: 0 0 auto;
  background-color: var(--background-primary-color);
}

.main-nav,
.sub-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.main-nav {
  align-items: baseline;
  border-bottom: 1px solid #c4c4c4;
  line-height: 78px;

  &__menu-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 915px;
    width: 100%;
  }
}

.logo-link {
  font-family: var(--title-font-family);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.main-nav__menu {
  display: flex;
  justify-content: space-between;
  margin-left: 130px;
  width: 550px;
}

.link {
  font-size: var(--subtitle-font-size);
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color: var(--secondary-color);
    transition: 0.2s ease-in-out;
  }
}

// .customers-link {
//   margin-left: 130px;
// }

.search-input {
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.search-btn {
  box-sizing: content-box;
  align-self: center;
  padding: 0;
  background-color: var(--background-primary-color);
  outline: none;
}

.contacts-link {
  margin-left: 30px;
}

.authorization-link {
  margin-left: auto;
}

.main-nav__links-list {
  display: flex;
  max-width: 670px;
  width: 100%;
}

.sub-nav {
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.link-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 625px;
}

.store-link {
  font-size: calc(var(--subtitle-font-size) + 2px);
}

@media (max-width: 1800px) {
  .main-nav {
    display: block;

    &__menu-wrapper,
    &__links-list {
      max-width: 100%;
    }
  }
}
