:root {
  --title-font-family: "Libre Baskerville", sans-serif;
  --subtitle-font-family: "Open Sans", sans-serif;
  --title-font-size: 30px;
  --title-line-height: 45px;
  --subtitle-font-size: 18px;
  --text-font-size: 18px;
  --header-font-size: 16px;
  --footer-font-size: 14px;
  --link-btn-font-size: 14px;
  --primary-color: #333;
  --footer-color: #fff;
  --secondary-color: rgb(198, 165, 87);
  --hover-color: rgba(198, 165, 87, 0.85);
  --background-primary-color: #fff;
  --background-secondary-color: #f3f3f3;
  --background-footer-color: #333;
  --UI-background-color: rgba(207, 207, 207, 0.8);
  --box-shadow-color: rgba(207, 207, 207, 0.8);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  font-size: var(--subtitle-font-size);
}

* {
  color: var(--primary-color);
  font-family: var(--subtitle-font-family);
}

h1,
h2,
h3 {
  font-size: var(--title-font-size);
  font-weight: 400;
}

.icon {
  background-image: url("../../img/icons-sprite/css_sprites.png");
}

.bg-arrow_black {
  width: 14px;
  height: 25px;
  background: url("css_sprites.png") -401px -200px;
}
